{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: calc({{ section.settings.padding_top }}px * 0.75);
      padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
    }
    ul.collection-list{
        display: flex;
        gap: 15px;
    }
    ul li{
        list-style: none;
    }
    .heading{
        height:100px;
        width:100%;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .heading span{
        padding:10px 50px;
        display: inline-block;
        color:#fff;
        background:#000;
    }
  
    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
  {%- endstyle -%}
  <div class="color-{{ section.settings.color_scheme }} gradient isolate">
    <div class="section-{{ section.id }}-padding page-width">
        <div class="heading">
            {%- for block in section.blocks -%}
            <span>{{block.settings.title}}</span>
            {% endfor %}
        </div>
        <ul class="collection-list">
        {%- for block in section.blocks -%}
            {% for collection in block.settings.collection %}
            <li class="collection-list__item grid__item">
                {% render 'card-collection',
                card_collection: collection,
                columns: 3
        %}
          </li>
          {%- endfor -%}
          {%- endfor -%}
          </ul>
    </div>
  </div>
  {% schema %}
  {
    "name": "Filter Collections",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 52
      }
    ],
    
"blocks": [
    {
    "type": "column",
    "name": "Add Blocks",
    "settings": [
          {
          "type": "text",
          "id": "title",
          "label": "Tab Name",
          "default": "Men"
          },
          {
          "type": "collection_list",
          "id": "collection",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
          }
  ]
 }
],
    "presets": [
      {
        "name": "Filter Collections"
      }
    ]
  }
  {% endschema %}
  