{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: calc({{ section.settings.padding_top }}px * 0.75);
      padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
    }
  
    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
{%- endstyle -%}
<style>
  
  .mixitup-control-active{
      background: #000 !important;
    }
    .collection_list{
      flex-wrap:wrap;
    }
    .mix{
      width: calc(30%)
    }

    .heading{
        height:100px;
        width:100%;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .heading span{
        padding:10px 50px;
        display: inline-block;
        color:#fff;
        background:#54595f;
    }
</style>

  <div class="color-{{ section.settings.color_scheme }} gradient isolate">
    <div class="section-{{ section.id }}-padding page-width">
        <div class="heading controls">
            {%- for block in section.blocks -%}
            <span class="control" data-filter=".{{  block.id }}"> {{block.settings.title}}</span>
            {% endfor %}
        </div>
        <div class="collection_list grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down">
        {%- for block in section.blocks -%}
            {% for collection in block.settings.collection %}
            <div class="mix {{block.id}} collection-list__item grid__item">
                {% render 'card-collection',
                card_collection: collection,
                columns: 3
          %}
          </div>
          {%- endfor -%}
          {%- endfor -%}
          </div>
    </div>
  </div>
  {% comment %} <script src="{{ 'mixitup.min.js' | asset_url }}"></script>
  <script>
   var mixer = mixitup('.collection_list', {
    load: {
    		  filter: ".{{section.blocks.first.id}}"
    		}   
      });
</script> {% endcomment %}

{{ 'slick.min.js' | asset_url | script_tag }}

<script>
    $('.collection_list').slick({ 
        speed:800,
        infinite: false,
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: false,
        autoplaySpeed: 4000,
        arrows:true,
        dots:false,
        prevArrow:"<span type='button' class='arrow-prev'><img src='"+ arrow +"' alt='arrow'></span>",
        nextArrow:"<span type='button' class='arrow-next'><img src='"+ arrow +"' alt='arrow'></span>",
        responsive: [
            {
              breakpoint: 767,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows:true,
              }
            }
          ]
    }); 
</script>

  {% schema %}
  {
    "name": "Filter Collections",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 52
      },
      {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "t:sections.main-list-collections.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-list-collections.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-list-collections.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "2",
      "label": "t:sections.main-list-collections.settings.columns_mobile.label"
    }
    ],
    
"blocks": [
    {
    "type": "column",
    "name": "Add Blocks",
    "settings": [
          {
          "type": "text",
          "id": "title",
          "label": "Tab Name",
          "default": "Men"
          },
          {
          "type": "collection_list",
          "id": "collection",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
          }
  ]
 }
],
    "presets": [
      {
        "name": "Filter Collections"
      }
    ]
  }
  {% endschema %}
  